* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: #111827; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 370px;
    height: 600px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;

    -webkit-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
}

.main h1 {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid black;
}


.copy-link {
    --height: 40px;
    display: flex;
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-link i{
    font-size: 20px;
}

.copy-link svg{
    height: 20px;
    width: 20px;
}

.link-box{
    display: flex;
}

.copy-link-input {
    width: 230px;
    flex-grow: 1;
    padding: 0 8px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-right: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.copy-link-input:hover {
    background: #eeeeee;
}

.copy-link-button {
    flex-shrink: 0;
    width: var(--height);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #ffffff;
    outline: none;
    border: 1px solid #313131;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.copy-link-button:hover {
    background: #3d3d3d;
}


@media screen and (max-width: 1150px){
    .main{
        -webkit-box-shadow: 10px 15px 0px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 15px 0px 0px rgba(0, 0, 0, 1);
        box-shadow: 10px 15px 0px 0px rgba(0, 0, 0, 1);
    }
}