*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: .8rem;
}

/* ::-webkit-scrollbar-track{
    background-color: rgb(120, 112, 112);
} */

::-webkit-scrollbar-thumb{
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(4,9,30,0),rgba(0, 0, 0, 0.5)),url(../images1/IMG_20220327_170316.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 0;
    position: relative;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    background: rgba(0, 0, 0, 40%);
    backdrop-filter: blur(5px);
    width: 100%;
    /* height: 20%; */
    background-position: fixed;
    position: fixed; 
    top: 0;
    margin-bottom: 0;
    z-index: 2;
}

.container{
    width: 1140px;
    margin: auto;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color: white;
    font-size: 50px;
    transition: 1s;
    z-index: 200;
    font-family: 'Dancing Script', cursive;
}
.navbar h1:hover{
    text-shadow: 20px 20px 25px black;
}

.navlink ul{
    margin: 40px;
    display: flex;
}

.navlink ul li{
    text-align: center;
    padding-left: 20px;
    list-style: none;
}
.navlink ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    transform: 1s;
}

.navlink ul li a::after{
    content: '';
    width: 00;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    border-radius: 5px;
}

.navlink ul li a:hover::after{
    width: 100%;
}

.navlink ul li .active-btn::after{
    width: 100%;
}

/* body */

.text-box{
    font-size: 30px;
    display: flex;
    /* top: 36%; */
    right: 200px;
    position: absolute;
}

.text-col{
    color: white;
    float: right;
    padding: 20px 0px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;

    width: 470px;
    height: 275ox;
}


.text-col h1 span{
    text-shadow: 20px 20px 20px rgb(0 0 0 / 50%);
    font-family: 'Raleway', sans-serif;
    /* width: 6000px !important; */
}



.text-col h1{
    margin-bottom: 20px;
    /* width: 650px; */
    font-size: 50px;
}

.text-col a{
    font-size: 15px;
    text-decoration: none;
    text-align: right;
    color: white;
}
.text-col a i{
    font-size: 15px;
}

/* #element{
    width: 6000px !important;
} */

/* about */

.about{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-top: 130px;
    height: 80vh;
}

#about-con{
    margin: auto;
}

section h1{
    font-size: 45px;
    /* text-transform: uppercase; */
}

.about-box{
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    justify-content: space-between;
} 

.about-col{ 
    flex-basis: 48%;
    width: 500px;
    height: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

#photo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 130px;
    
}

.about-col h2{
    font-size: 35px;
}

.about-col p{
    margin-top: 15px;
    line-height: 20px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    font-size: large;
}

.title h1{
    position: relative;
}

.about .title h1::before{
    height: 2.5px;
}

.about:hover>.title h1::before{
    width: 130px;
}

/* education */

.edu{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-top: 130px;
    /* height: 80vh; */
}

.edu:hover>.title h1::before{
    width: 217px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgb(0, 0, 0);
    top: 25px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
/* Container around content */
.cont {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
  /* The circles on the timeline */
.cont::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -9px;
    background-color: rgb(0, 0, 0);
    /* border: 4px solid #FF9F55; */
    top: 23px;
    border-radius: 50%;
    z-index: 0;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
  
/* Place the container to the right */
.right {
    left: 575px;
}
  
 
  
/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 10px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    /* box-shadow: 0 8px 20px rgb(0 0 0 / 30%); */
    text-align: left;
}

.content h2{
    margin-bottom: 10px;
}

.content p{
    margin-bottom: 6px;
    font-size: 15px;
    color: gray;
}

.content p i{
    margin-right: 8px;
}
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 1200px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 26px;
    }
    
    /* Full-width containers */
    .cont {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .cont::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* skills */

.skills{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    height: 80vh;
    padding-top: 130px;
}


.title h1::before{
    content: "";
    width: 0px;
    height: 2px;
    background-color: rgb(9, 8, 8);
    position: absolute;
    top: 100%;
    transition: 2s;
    border-radius: 10px;
}

.skills .title h1::before{
    height: 2.5px;
}

.skills:hover>.title h1::before{
    width: 115px;
}

.skills-box{
    margin-bottom: 100px;
}

.skills-row{
    margin-top: 40px;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.skills-col{
    text-align: left;
    border-radius: 5px;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 160px;
    width: 115px; */
}

.skills-col i{
    font-size: 100px;
}

.skills-col img{
    height: 100px;
    width: 100px;
}

.skills-col p{
    margin-top: 5px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

/* -----------Projects----------- */

.project{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding-top: 110px;
}

.project .title h1::before{
    height: 2.5px;
}

.project:hover>.title h1::before{
    width: 250px;
}

.project .title h1{
    padding: 10px;
}

.project-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}

.project-col{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project-col img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.5),#95a5a6);
    border-radius: 10px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 1s;
}

.layer h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 51px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.project-col:hover img{
    transform: scale(1.1);
}

.project-col:hover .layer{
    height: 100%;
}

/* -----------Contact----------- */

.contact{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 75vh;
    padding-top: 130px;
}

.contact .title h1::before{
    height: 2.5px;
}

.contact:hover>.title h1::before{
    width: 242px;
}

.contact-box{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact-1{
    flex-basis: 35%;
    margin-bottom: 80px;
}
.contact-2{
    flex-basis: 60%;
}

.contact-1 p{
    margin-top: 20px;
    font-size: 20px;
}

.contact-1 p a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.contact-1 p i{
    margin-right: 15px;
}

.contact-2 form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    outline: black;
    border-radius: 4px;
    font-size: 15px;
}

.btn{
    padding: 10px 20px;
    margin-top: 20px;
    background: #000;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.cv{
    padding: 10px 30px;
    margin-top: 20px;
}

.cv a{
    text-decoration: none;
    color: white;
    width: 100%;
}

.cv:hover>a{
    color: #000;
}

.btn:hover{
    background: white;
    border-color: black;
    color: black;
}

#msg{
    color: #61b752;
    margin-top: 15px;
    display: block;
}

.foot{
    width: 100%;
    margin-top: 40px;
    height: 40vh;
    background: #2A3B47;;
}

.foot-box{
    margin: 20px;
    padding-top: 50px;
    display: flex;
    flex-basis: 33%;
    justify-content: space-between;
}

.foot-col h1{
    color: whitesmoke;
    font-size: 25px;
}


.foot-item{
    margin-top: 20px;
    color: #697477;
    display: flex;
    flex-direction: column;
}

.foot-item a{
    padding-left: 0;
    color: #697477;
    text-decoration: none;
    padding-bottom: 10px;
    transition: 0.5s;
}

.foot-item a:hover{
    color: white;
}

.icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    display: inline-block;
    transition: 0.5s;
    padding: 2px;
}

.icons a:hover{
    color: whitesmoke;
    transform: translateY(-5px);
}

.contact-2 span{
    height: 20px;
}








@media screen and (max-width: 1150px){
    .container{
        width: auto;
        /* margin: auto; */
        padding: 10px 10%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        justify-content: center;
        align-items: center;
    }

    .navlink ul{
        margin: 10px;
        display: flex;
        
    }

    .navlink ul li{
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        
    }

    .navlink ul li a{
        text-decoration: none;
        color: white;
        position: relative;
        font-size: 12px;
        font-weight: 300;
        transform: 1s;
    }

    .banner{
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(4,9,30,0),rgba(0, 0, 0, 0.5)),url(../images1/IMG_20220327_170316\ responcive.jpg);
        /* background: rgb(94, 94, 94); */
        background-size: cover;
        background-position: center left;
        margin-top: 0;
        position: relative;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-box{
        right: 40px;
        justify-content: center;
        align-items: center;
    }

    .text-col{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box{
        width: auto;
        /* display: flex; */
        /* height: 315px; */
        width: 300px;
    }

    .box>h1{
        height: 300px;
        width: 250px;
    }

    /* about */
    .about{
        margin-top: 80px;
        margin-bottom: 190px;
        
    }

    .about-box{
        margin-top: 70px;
        display: flex;
        height: 80vh;
        width: 100%;
        /* position: static; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .about-col{
        display: flex;
        width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    .about-box1{
        background: url(../images1/new.jpg);
        background-size: cover;
        background-position: center center;
        /* width: 250px;
        height: 250px; */
        border-radius: 50%;
        display: block;
    }

    #photo img{
        /* width: 250px;
        height: 250px;
        border-radius: 50%; */
        display: none;
    }

    .skills{
        height: auto;
        width: auto;
    }
    
    .skills-row{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-box{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contact{
        height: 100vh;
    }

    .contact-box{
        flex-direction: column;
    }


    .foot{
        height: 70vh;
    }
    .foot-box{
        flex-wrap: wrap;
        padding-top: 10px;
        align-items: start;
    }

    .foot-col{
        margin: 15px;
    }
}